<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reddit Topics -- Stacked Area Graph</title>
		<link href="rtopics.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/js/d3/d3.js"></script>
		<script type="text/javascript" src="/js/stream.js"></script>
    </head>
    <body>
	  <div class="wrap">
		<div id="header">
		  <h1>/r/topics:</h1>
		  <h2>stacked graph</h2>
		  <form onsubmit="return graph('reddit_box')">
			<input type="text" name="subreddit" id="reddit_box" placeholder="subreddit name"/>
			<input type="submit" value="Load Graph"/>
		  </form>
		</div>
      <script type="text/javascript">
		function graph(id) {
		var txtbox = document.getElementById(id);
		var value = txtbox.value;
		make_stream("/data/"+value+"_combined.json");
		return false;
		}
        </script>
	  </div>
    </body>
</html> 
